


@model IEnumerable<CSRT.Areas.Security.ViewModels.MottorViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>


<div class="col-md-12" id="above">
    <div class="col-md-6">
        <ul class="nav nav-pills">
            <li class="active"><a href="#"><span class="badge">@Model.Count().ToString()</span>Mottor(s) </a></li>

        </ul>
    </div>
    <div class="col-md-6">
        <p class="pull-right">

            @Html.ActionLink("Add Motor", "Create", new { }, new { data_modal = "", id = "btnCreate", @class = "btn btn-success" })
        </p>
    </div>
</div>






<div class="panel-body">
    <table id="mottormodels" class="table table-responsive table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.VehicleName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.MottorModelName)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.PlateNumber)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.DepartmentName)
                </th>
 
                <th>
                    @Html.DisplayNameFor(model => model.IsAvailable)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MottorModelName) <span>@Html.DisplayFor(modelItem => item.modelMake)</span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlateNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartmentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsAvailable)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>



                    <td>

                        <div class="dropdown">
                            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                Actions
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">List of actions</li>
                                <li>@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { data_modal = "" })</li>
                                <li>@Html.ActionLink("Details", "Details", new { id = item.Id }, new { data_modal = "" })</li>
                                <li>@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { data_modal = "" })</li>
                                <li class="divider"></li>

                            </ul>
                        </div>

                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#mottormodels').DataTable();

        });
    </script>
}
