@model CSRT.Areas.Security.ViewModels.DriverViewModel



@*<link href="~/Content/bootstrap-toggle-master/css/bootstrap-toggle.css" rel="stylesheet" />*@

@*<link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />*@

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Edit driver</h4>

</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal-body">
    <div class="form-horizontal">

       
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
            </div>
        </div>
        <hr/>
        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr/>
        <div class="form-group">
            @Html.LabelFor(model => model.IsAvailable, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">

                <div class="checkbox">
                    @Html.EditorFor(model => model.IsAvailable, new {id= "toggle-event" } )
                    @*<input checked="IsAvailable" name="IsAvailable"  id="toggle-event" type="checkbox">*@
                    <div id="console-event"></div>
                    @Html.ValidationMessageFor(model => model.IsAvailable, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>


    </div>
  </div>


<div class="modal-footer">
    <button class="btn" data-dismiss="modal">Cancel</button>
    <input class="btn btn-primary" type="submit" value="Save" />
</div>
}

@*<div>
            @Html.ActionLink("Back to List", "Index")
        </div>*@

@*<script type="text/javascript">

    $(function() {
        $('#toggle-one').bootstrapToggle();
    })

</script>*@

@*<script>
  $(function() {
      $('#toggle-event').bootstrapToggle().change(function () {
          $('#console-event').html('Toggle: ' + $(this).prop('checked'));
      });
  })
</script>*@

@*<script src="~/Content/bootstrap-toggle-master/js/bootstrap-toggle.js"></script>
<script src="~/Scripts/modalform.js"></script>*@

